<h1>Be you</h1>
<div class="search">
<div class="search-bar">
<%= form_with url: costumes_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Bring out the real you"
  %>
  <%= submit_tag "Find Your Fit", class: "btn"%>
  </div>
<% end %>
</div>

<div class="filter-dropdown">
  <%= form_with url: costumes_path, method: :get do %>
  <%= select_tag :filter, options_for_select([ "Show All", "Suits", "Costumes", "Cosplays" ], "Show All")
    %>
  <%= submit_tag "Filter", class: "filter-btn" %>
  <% end %>
</div>


<!--
<select name="Costume Type" class="category">
  <option calue="all">See All</option>
  <option value="costume">Costumes</option>
  <option value="suit">Suits</option>
  <option value="cosplay">Cosplay</option>
</select>
-->

<div class="container">
  <div class="index-cards">
    <% @costumes.each do |costume| %>
      <%= link_to costume_path(costume), class: "card-costume" do %>
        <% if costume.photo.attached?  %>
          <%= cl_image_tag costume.photo.key %>
        <% else %>
          <%= cl_image_tag "https://cdn-icons-png.flaticon.com/512/1124/1124043.png" %>
        <% end %>
        <div class="card-costume-info">
          <div>
            <h2><strong><%= costume.name %></strong></h2>
            <p><strong><%= costume.clothing %></strong></p>
            <p><%= costume.description %></p>
          </div>
          <h2 class="card-costume-pricing"><strong>$<%= costume.price %></strong></h2>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <ul class="list-inline">
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-facebook"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-twitter"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-instagram"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-github"></i></a></li>
  </ul>
</div>












<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <% @costumes.each do |costume| %>
      <div class="carousel-item <%= costume == @costumes[0] ? "active" : "" %>">
        <div class="card-costume" class="d-block w-100">
          <img src="https://images.unsplash.com/photo-1522787345986-d5c7885a889e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
          <div class="card-costume-info">
            <div>
              <h2><strong><%= costume.name %></strong></h2>
              <p><%= costume.description %></p>
            </div>
            <h2 class="card-costume-pricing"><strong>$<%= costume.price %></strong></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%= link_to "new costume link", new_costume_path() %>
