<h1>List of All Costumes</h1>

<div class="container">
  <div class="index-cards">
    <% @costumes.each do |costume| %>
    <%=# link_to costume_path(costume) do %>
      <div class="card-costume" >
        <%= cl_image_tag costume.photo.key %>
        <div class="card-costume-info">
          <div>
            <h2><strong><%= costume.name %></strong></h2>
            <p><strong><%= costume.clothing %></strong></p>
            <p><%= costume.description %></p>
          </div>
          <h2 class="card-costume-pricing"><strong>$<%= costume.price %></strong></h2>
        </div>
      </div>
    <% end %>
    <% #end %>
  </div>
</div>

<div class="footer">
  <ul class="list-inline">
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-facebook"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-twitter"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-instagram"></i></a></li>
    <li><a href="" target="_blank" class="icons"><i class = "fa-brands fa-github"></i></a></li>
  </ul>
</div>












<!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <% @costumes.each do |costume| %>
      <div class="carousel-item <%= costume == @costumes[0] ? "active" : "" %>">
        <div class="card-costume" class="d-block w-100">
          <img src="https://images.unsplash.com/photo-1522787345986-d5c7885a889e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
          <div class="card-costume-info">
            <div>
              <h2><strong><%= costume.name %></strong></h2>
              <p><%= costume.description %></p>
            </div>
            <h2 class="card-costume-pricing"><strong>$<%= costume.price %></strong></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%= link_to "new costume link", new_costume_path() %>
