<div class="title">
  <h2>Take it out of the closet.</h2>
  <h3>Let it free! Let it be!</h3>
</div>

<div class= "upload">
<%= simple_form_for(@costume), remote: true do |f| %>
  <% clothing = ["Suits", "Costumes", "Cosplays"] %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :clothing, collection: clothing %>
  <%= f.input :photo, as: :file, input_html: {multiple: false} %>
  <%= f.submit id: "upload_button"%>
<% end %>
</div>
