<h1>Costume Name: <%= @costume.name %></h1>
    <%= cl_image_tag @costume.photo.key, height: 500, width: 350 %>
<p>Description:<br><%= @costume.description %></p>
<h4>Price: $<%= @costume.price %></h4>
<h5>Owner: <%= @costume.user.username %></h5>
<%= link_to "Delete",
  costume_path(@costume),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
