<div class="container">
  <div class="row mt-3">
    <div class="col">
      <% if @costume.photo.attached?  %>
          <%= cl_image_tag @costume.photo.key, height: 500, width: 350, class:"rounded shadow" %>
        <% else %>
          <%= cl_image_tag "https://cdn-icons-png.flaticon.com/512/1124/1124043.png" %>
      <% end %>

    </div>
  <div class="col">
      <h1><%= @costume.name %></h1>
      <div class="d-flex justify-content-around text-center">
        <div>
          <h4>Price</h4>
          <p>$<%= @costume.price %></p>
        </div>
        <div>
          <h4>Owner</h4>
          <p> <%= @costume.user.username %></p>
        </div>
      </div>
      <p><%= @costume.description %></p>
      <%= render 'bookings/new' %>
      <div class="col">
      <h1><%= @costume.name %></h1>
      <%= link_to "Delete",
        costume_path(@costume),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
  </div>

</div>
