<h2 id="password-h2">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
<div class="inputs">
  <div class="form-inputs" id="">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div id="password-submit">
    <%= f.button :submit, "Send password instructions" %>
  </div>
</div>
<% end %>

<div class="help-user-pw">
  <%= render "devise/shared/links" %>
</div>
