
<h2>Hello<%= current_user.username %></h2>


<h3>These are your bookings:</h3>
  <ul>
    <% current_user.bookings.each do |booking|%>
    <li class="card-costume-info">
    <%= cl_image_tag booking.costume.photo.key %></li>
    <%= booking.costume.name %><br>
    Borrowed on: <%= booking.start_date %><br>
    Needs to be returned by: <%= booking.end_date %><br>

    Status:
    <%= booking.status %>
    <% end %>
  </ul>

<h3>These are your costumes:</h3>

<p>
  <% current_user.costumes.each do |costume| %>
    <%= costume.name %><br>
    <%=image_tag costume.photo %><br>
    <%= costume.description %><br>
    <%= costume.price %>
  <% end %>
</p>

Status
available
pending
approved / rejected
in use
