<!DOCTYPE html>
<html>
  <head>
    <title>Closet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# flatpicker needs this line below %>
  </head>

  <body>
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= render "shared/flashes" %>
      <footer class="footer">
        <ul class="list-inline">
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class = "fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class = "fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class = "fa-brands fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank" class="icons"><i class = "fa-brands fa-github"></i></a></li>
        </ul>
      </footer>
  </body>

</html>
